@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');

* {
    font-family: 'Albert Sans', sans-serif;
}



body {
    background-color: rgb(255, 222, 166);
}

.darkMode {
    background-color: rgb(52, 47, 47);
    color: white;
  }

.categoryCard{
    height: 150px;
    width: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    transform: translateY(0)
}

.pokeChoose{
    height: 224px;
    width: 200px;
    padding-top: 20px;
    margin-inline: 15px;
    transform: translateY(0)
}

.pokeChoose p{
    padding-top: 20px;
}

.pokeChoose:hover{
    transform: translateY(-4px)
}

.categoryCard:hover{
    transform: translateY(-4px)
}

.justPlaceholder{
    height: 45vh;
}

.pokePicture{
    width: 80%;
}

.buttonRandom h2{
    margin-top: 18px;
}